* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /* background-color: black;
  color: white; */
  border: 50px solid white;
}

ul {
  list-style: none;
}

.red {
  color: red;
}


.blue {
  color: blue;
}
